@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fcfcfc;
  --foreground: #1c1919;
}

.dark {
  --background: #1c1919;
  --foreground: #fcfcfc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-fade-in: fade-in 250ms ease-out both;
  --animate-fade-in-drop-down: fade-in-drop-down 400ms ease-out both;
  --breakpoint-xs: 26rem;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in-drop-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground);
}
